<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="MyProfile">
        <div class="container">
            <img class="my_image" src="/photo.jpeg" alt="myImage">
            <h1 class="name"> Дмитриев Егор</h1>
            <p class="phone">+79831330902</p>
            <p class="telegram">@edm1tr1ev</p>
            <p class="email">edmitriev377@gmail.com</p>
        </div>
    </div>
</body>
</html>